<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Arima&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/12bb80daed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/12bb80daed.js" crossorigin="anonymous"></script>


    <title>Productos</title>
</head>
<body class="parallax_coleccion">
    <header class="header_coleccion">
        <nav>
            <h1>BENJAMIN CANDLES</h1>
            <ul class="navbar">
                <li><a href="../index.html" >Inicio</a></li>
                <li><a href="" >Coleccion</a></li>
                <li><a href="./nosotros.html" >Nosotros</a></li>
                <li><a href="#pies" >Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section_grid">
            <div class= "div_grid_1" >1</div>
            <div class= "div_grid_2" >2</div>
            <div class= "div_grid_3" >3</div>
            <div class= "div_grid_5" >5</div>
            <div class= "div_grid_6" >6</div>
            <div class= "div_grid_7" >7</div>
            <div class= "div_grid_8" >8</div>
            <div class= "div_grid_10" >10</div>
            <div class= "div_grid_12" >12</div>
    </section>

    <section>
        <div class="la_coleccion">
            <ul class="article_4imagenes">
                <li><img class= "img_index_edit" src="../img/vela_producto_4.jpg" alt="producto 4">
                    <a href="" class="a_article_4imagenes"> Velas </a>
                </li>
                <li><img class="img_index_edit" src="../img/velas-y-flores.jpg" alt="producto 1">
                    <a href="" class="a_article_4imagenes"> Composiciones </a>
                </li>               
                <li><img class="img_index_edit" src="../img/mantas-y-almohadones.jpg" alt="producto 2">
                    <a href="" class="a_article_4imagenes"> Trabajos en Tela </a>
                </li> 
                <li><img class="img_index_edit" src="../img/fragancia-jabon-escencia.jpg" alt="producto 3">
                    <a href="" class="a_article_4imagenes"> Jabones y escencias </a>
            </ul>
        </div>
    </section>


    <footer >
        <div id="pies" >
            <ul class="iconos_contacto">
                <li ><i class="fa-brands fa-instagram fa-7x"></i></li>
                <li ><i class="fa-solid fa-envelope fa-7x"></i></li>
                <li ><i class="fa-brands fa-facebook fa-7x"></i> </li>
                <li ><i class="fa-brands fa-whatsapp fa-7x"></i></li>
            </ul>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>