<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="description" content="busca las mejores velas aromaticas y productos artesanales de telas con deliciosas fragancias al mejor precio">
    <link rel="shortcut icon" href="../img/favicon.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/12bb80daed.js" crossorigin="anonymous"></script>
    
    <title>Inicio</title>
</head>
<body class="parallax">
  <header class="container-nav">
    <div class="container-nav">
      <nav class="navbar navbar-expand-lg navbar-light nav-bar-boot">
        <div class="container-fluid nav-bar-boot cointainer-nav-div">
          <a class="navbar-brand " href="#"><h1 class="header-title"> BENJAMIN CANDLES</h1></a>
          <button class="navbar-toggler nav-bar-boot" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-bar-boot navbar-home" id="navbarNavDropdown">
            <div class="">
              <ul class="navbar-nav navbar-home">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../index.html" >Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./coleccion.html" >Coleccion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contacto
                  </a>
                  <ul class="dropdown-menu navbar-down toggle-down" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="https://www.whatsapp.com/catalog/5491158138396/?app_absent=0"> <i class="fa fa-whatsapp fa-2x"></i>Whatsapp </a></li>
                    <li><a class="dropdown-item" href="https://www.instagram.com/benjamin_candles/"> <i class="fa fa-instagram fa-2x"></i> Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.facebook.com/benjamincandles"><i class="fa fa-facebook fa-2x"></i> Facebook </a></li>
                    <li><a class="dropdown-item" href="mailto:paulaquinteros@yahoo.com.ar"><i class="fa fa-envelope fa-2x"></i> E-mail</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
</header>

<main>
  <section class="cartas_productos">
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo1.jpg" class="card-img-top"  alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo2.jpg" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo3.jpg" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo4.JPG" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo5.JPG" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo6.JPG" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo7.JPG" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo8.JPG" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo9.JPG" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="card card-content col-md-2" >
          <img src="../img/venta_compo10.PNG" class="card-img-top" alt="hermosas velas aromaticas artesanales con envases reciclables, perfectas para adornar y tener fragancias exquisitas">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
  </section>    
</main>

    <section class="section-headingoverline">
      <h1 class="one">
        <span> Nuestra coleccion </span>
      </h1>
    </section>
    
    <article class="container">
      <div  class="row contenedor-cards">
        <div class="card col-md-2 cards" >
          <img src="../img/vela_producto_4.jpg" class="card-img-top-index" alt="...">
          <div class="card-body">
            <h2 class="texto-carta-title">
              <a href="./velas.html" class="texto-carta-title"> Velas  </a>
            </h2>
            <a href="./velas.html" class="texto-carta"> Veni a ver nuestras hermosas Velas de soja ! </a>
          </div>
        </div>

        <div class="card col-md-2 cards" >
          <img src="../img/velas-y-flores.jpg" class="card-img-top-index" alt="...">
          <div class="card-body">
            <h2 class="texto-carta-title">
              <a href="./composiciones.html" class="texto-carta-title"> Composiciones </a>
            </h2>
            <a href="./composiciones.html" class="texto-carta"> Te invitamos a ver nuestras composiciones mas lindas ! </a>
          </div>
        </div>

        <div class="card col-md-2 cards" >
          <img src="../img/mantas-y-almohadones.jpg" class="card-img-top-index" alt="...">
          <div class="card-body">
            <h2 class="texto-carta-title">
              <a href="./trabajos-en-tela.html" class="texto-carta-title"> Telas </a>
            </h2>
            <a href="./trabajos-en-tela.html" class="texto-carta"> Aca tenemos trabajos totalmente artesanales sobre tela  </a> 
          </div>
        </div>

        <div class="card col-md-2 cards" >
          <img src="../img/fragancia-jabon-escencia.jpg" class="card-img-top-index" alt="...">
          <div class="card-body">
            <h2 class="texto-carta-title">
              <a href="./jabones-y-esencias.html" class="texto-carta-title"> Fragancias </a>
            </h2>
            <a href="./jabones-y-esencias.html" class="texto-carta"> Probar estos jabones y esencias es un camino de ida </a>
          </div>
        </div>
      </div>
    </article>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Bienvenido! somos una empresa dedicada a la fabricacion de productos 100% artesanales, entre ellos vas a poder encontrar velas de soja junto con apaga velas y hermosos envases contenedores, mantas polar, y de piel sintetica (porsupuesto), caminos para mesas, difusores, fragancias de las mas diversas variedades, jabones con exquisitos olores y todo es artesanal !! Ademas podras disfrutar de la mejor atencion personalizada para que tu experiencia sea de lo mas grata.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="./velas.html">Velas</a></li>
              <li><a href="./trabajos-en-tela.html">Telas - Trabajos artesanales</a></li>
              <li><a href="./composiciones.html">Composiciones</a></li>
              <li><a href="./jabones-y-esencias.html">Fragancias y Jabones</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="./nosotros.html">Nosotros</a></li>
              <li><a href="../index.html"></li>Inicio</a></li>
              <li><a href="./coleccion.html">Coleccion</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 20 All Rights Reserved by 
         <a href="#">https://github.com/LucasArd</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/benjamincandles"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://www.instagram.com/benjamin_candles/"><i class="fa fa-instagram"></i></a></li>
              <li><a class="dribbble" href="https://www.whatsapp.com/catalog/5491158138396/?app_absent=0"><i class="fa fa-whatsapp"></i></a></li>
              <li><a class="E-mail" href="mailto:paulaquinteros@yahoo.com.ar"><i class="fa fa-envelope"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>