<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/vela 1.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/12bb80daed.js" crossorigin="anonymous"></script>
    
    <title>Inicio</title>
</head>
<body class="parallax">
    <header>
        <nav>
            <h1>BENJAMIN CANDLES</h1>
                <ul class="navbar">
                    <li><a href="../index.html" >Inicio</a></li>
                    <li><a href="./coleccion.html" >Coleccion</a></li>
                    <li><a href="" >Nosotros</a></li>
                    <li><a href="#pie">Contacto</a></li>
                </ul>
        </nav>
    </header>

    <h2 class="fraseMotivacionalInicioNosotros"> Trabaja duro en silencio y tu exito hara todo el ruido </h2>
    
    <section class="texto_nosotros">
        <h2 class="texto_nosotros_h2"> Benjamin Candles </h2>
        <p class="texto_nosotros_p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error impedit provident minima quia ipsam aliquid aperiam necessitatibus consequuntur corporis fuga harum laborum accusamus autem non at, asperiores iure facilis cumque?
        Ex facere nostrum fugit numquam at aliquid quisquam explicabo, culpa aliquam beatae dicta unde! Vero ducimus nemo eius quibusdam quo debitis, earum, totam, laborum repudiandae minima modi expedita ipsam recusandae.</p>
        <p class="texto_nosotros_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quod possimus, quidem odit quo hic reprehenderit molestiae temporibus ea nemo eius quaerat ipsum neque. Ad, consequatur similique? Assumenda, porro et!</p>
        <p class="texto_nosotros_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quis, porro vitae quasi ex distinctio ut in quisquam harum omnis iste fugit, error dolores est. Sit maiores maxime soluta accusamus.</p>
    </section>

    <footer id="pie">
        <div class="div_footer">
            <ul class="iconos_contacto">
                <li ><i class="fa-brands fa-instagram fa-7x"></i></li>
                <li><i class="fa-solid fa-envelope fa-7x" ></i> </li>
                <li><i class="fa-brands fa-facebook fa-7x"></i> </li>
                <li><i class="fa-brands fa-whatsapp fa-7x" ></i></li>
            </ul>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

</body>
</html>