@media screen and (max-width: 800px) {


    .contenedor-cards{
        display: flex;
        justify-content: center;
        padding-top: 4rem;

    }

    .cards{
        display: flex;
        justify-content: center;

    }

    .card-content{
        width:28rem !important;
    }
    
    .section_grid{
        visibility: hidden;
        display: none;
    }

    .article_3iconos{
        visibility: hidden;
        display: none;
    }

    .toggle-down {
        position: absolute !important;
    }


}