.texto_nosotros{
    padding: 5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.texto_nosotros_p{
    padding:2rem;
    font-size: 2rem;
}
.texto_nosotros_h2{
    font-size: 3rem;
}